*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    width: 100%;
    height: 800px;
    border: 8px solid black;
}
.mean_heading{
    color: black;
    font-size: 30px;
   
}
.lst{
    display: flex;
    gap: 30px;
    font-weight: bold;
    font-size: 20px;
}